<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <p>To-Do List</p>
<!-- //build a form with an input box that says "add a todo", with a submit button that sends the info into a styled list below. -->
  <form class="" action="index.html" method="post">
    <label for="add a todo" name="add a todo"></label>
    <input type="text" name="" value="">
<!-- //how do I make the list editable? -->
  </form>
  {{ #todos }}
<p>{{ task }}</p>
  {{ /todos }}

  </body>
</html>
